@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&family=Sintony:wght@400;700&display=swap");
/* Here we define the Custom properties */
:root {
	/* Typography Poppins */
	/* (font-weight: 400 font-style: normal) - (font-weight: 700 font-style: normal) */
	--typography-titles: "Sintony", sans-serif;

	/* Typography Poppins */
	/* (font-weight: 400 font-style: normal / italic) - (font-weight: 600 font-style: normal/italic) */
	--typography-common: "Poppins", sans-serif;

	/* Main Colors */
	--blue-color: #1649ff;

	/* Secondary Colors */
	--dark-color: #242424;
	--gray-color: #6d6d6d;
	--black-color: #000;
	--white-color: #fff;
}

/* We adapt them to the dark mode */
@media (prefers-color-scheme: light) {
	:root {
		--black-color: #ececec;
	}
}

/* Optional */
/* Configure whether a user has activated high contrast mode (WD) */
/* Optional */
/* Disable animations in case a user has set the mode to no animation */
@media (prefers-reduced-motion: reduce) {
	* {
		-webkit-animation: none !important;
		animation: none !important;
		-webkit-transition: none !important;
		transition: none !important;
	}
}

/* Reset the margins and paddings of all labels */
* {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: baseline;
}

/* We avoid problems with the images */
img,
picture,
video,
iframe,
figure {
	max-width: 100%;
	width: 100%;
	display: block;

	/* optional */
	-o-object-fit: cover;
	object-fit: cover;

	/* optional */
	-o-object-position: center center;
	object-position: center center;
}

/* We reset the links to work as boxes... */
a {
	display: block;
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}

/* ... except for those found in paragraphs */
p a {
	display: inline;
}

/* We remove the dots from the <li> */
li {
	list-style-type: none;
}

/* We set up soft anchors */
html {
	scroll-behavior: smooth;
}

/* We deactivate default styles of the main text labels */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: inherit;
}

/* We avoid problems with pseudo-elements of quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

/* We configure the text we select */
::-moz-selection {
	background-color: var(--black-color);
	color: var(--white-color);
}
::selection {
	background-color: var(--black-color);
	color: var(--white-color);
}

/* We level out problems of typography and form placement */
form,
input,
textarea,
select,
button,
label {
	font-family: inherit;
	font-size: inherit;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	background-color: transparent;
	color: inherit;
	display: block;

	/* optional */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* We reset the tables */
table,
tr,
td {
	border-collapse: collapse;
	border-spacing: 0;
}

/* We avoid SVG problems */
svg {
	width: 100%;
	display: block;
	fill: currentColor;
}

/* (Testing, do not use in production) In the case of adding a */
/* p svg{
  display: inline;
  width: initial;
} */
/* We set the typography for the whole web */
body {
	background-color: #202020;
	color: var(--white-color);
	font-family: var(--typography-common);
	font-size: 100%;

	/* optional */
	font-smooth: always;

	/* optional */
	/* line-height: 1.4em; */

	min-height: 100vh;

	/* optional: (add -) */
	/* -webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto; */

	/* optional */
	-webkit-font-smoothing: antialiased;

	/* optional */
	-moz-osx-font-smoothing: grayscale;
}
