.container {
	min-height: 100vh;
	width: 100%;

	display: flex;
	flex-direction: column;
}

.header {
	background-color: var(--black-color);
	box-shadow: 0 0.5em 1em var(--blue-color);
	min-height: 5em;
	position: relative;
	width: 100%;

	align-items: center;
	display: flex;
	justify-content: space-around;
}

.header__h2 {
}

.header__a--index {
	color: var(--blue-light-color);
	cursor: pointer;
	font-size: var(--font-size-xl);
}

.header__menu {
	color: var(--white-color);
	cursor: pointer;
	transition: color 0.5s ease-in-out;
}

.header__i {
	font-size: var(--font-size-xl);
	cursor: pointer;
}

.header__nav {
	background-color: var(--gray-color);
	min-height: 9em;
	overflow: hidden;
	position: absolute;
	top: 5em;
	width: 100%;

	align-items: center;
	display: none;
	flex-direction: column;
	justify-content: space-around;
}

.menu--open {
	display: flex;
	flex-direction: column;
}

.header__a {
	cursor: pointer;
	font-size: var(--font-size-lg);
	text-align: center;
	width: 90%;
}

.header__a:first-child {
	border-bottom: solid 2px var(--blue-color);
	min-height: 2.2em;
}

.main {
}

.works {
	min-height: 165em;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.works__article {
	max-width: 100%;

	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 3em;
}

.works__header {
	max-width: 78%;
	width: 100%;

	display: flex;
	flex-direction: column;
}

.works__h3 {
	font-size: var(--font-size-xl);
	letter-spacing: 1.1px;
	min-height: 3em;
}

.works__p {
	font-size: var(--font-size-md);
	letter-spacing: 1.5px;
	line-height: 1.7;
	word-spacing: 3px;
}

.works__figure {
	height: 20em;
	width: 24em;
}

.works__img {
	border-radius: 1em;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.works__figcaption {
	opacity: 0;
	position: relative;
	text-align: center;
	transition: opacity 0.7s ease-in-out;

	align-items: center;
	display: flex;
	flex-direction: column;
}

.works__figure:hover .works__figcaption {
	opacity: 0.9;
}

.works__a {
	background-color: var(--blue-light-color);
	bottom: 1em;
	color: var(--dark-color);
	font-size: var(--font-size-lg);
	font-weight: 600;
	height: 3em;
	letter-spacing: 4px;
	position: absolute;
	width: 50%;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.works__hr {
	background: linear-gradient(
		to top,
		var(--blue-light-color),
		var(--blue-color)
	);
	border-radius: 50%;
	box-shadow: 0 0 1em var(--blue-light-color);
	margin: 0 auto;
	min-height: 5px;
	width: 50%;
}

.about {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about__article {
	min-height: 100em;
	max-width: 80%;
	width: 100%;

	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.about__h2 {
	font-size: var(--font-size-lg);
	font-weight: 600;
	letter-spacing: 1.5px;
	text-align: center;
	width: 100%;
}

.about__p {
	font-size: var(--font-size-md);
	letter-spacing: 3px;
	line-height: 1.7;
	text-align: start;
	word-spacing: 3px;
}

.about__h3 {
	font-size: var(--font-size-lg);
	font-weight: 600;
	letter-spacing: 1.5px;
	padding-top: 2em;
	text-align: right;
}

.tech {
	box-shadow: 0 -1em 1em var(--blue-light-color);
	min-height: 25em;

	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.tech__h2 {
	font-size: var(--font-size-xxl);
	font-weight: 600;
}

.tech__ul--programinng {
	width: 85%;

	align-items: center;
	display: flex;
	justify-content: space-evenly;
}

.tech__li--programinng {
	height: 5em;
	width: 5em;
}

.tech__img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

/*
	No definida en el HTML
 	.tech__ul--creator {
	min-height: 70em;
	width: 85%;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.tech__li--creator {
	font-size: 1.5rem;
	letter-spacing: 1.5px;
	line-height: 1.6;
} */

.credits {
	box-shadow: 0 -1em 1em var(--blue-light-color);
	min-height: 25em;
	width: 100%;

	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.credits__article {
	width: 85%;

	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 3em;
}

.credits__h3 {
	font-size: var(--font-size-xxl);
	font-weight: 600;
}

.credits__p {
	font-size: var(--font-size-lg);
	letter-spacing: 1.3px;
	word-spacing: 2px;
	text-align: center;
}

.credits__span {
	color: var(--blue-light-color);
	font-size: var(--font-size-xl);
}

.credits__div {
	width: 100%;

	align-items: center;
	display: flex;
	justify-content: space-around;
}

.credits__a {
	transition: color 0.5s ease-in-out;
	font-size: var(--font-size-lg);
}

.credits__a:hover {
	text-decoration: underline;
}

.footer {
	background-color: var(--black-color);
	box-shadow: 0 -0.5em 1em var(--blue-color);
	min-height: 40em;
	position: relative;

	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 2.5em;
	justify-content: center;
}

.footer__nav {
	width: 100%;

	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 20%;
	justify-content: center;
}

.footer__a--start {
	bottom: 1.3em;
	font-size: var(--font-size-xxl);
	opacity: 0.7;
	position: fixed;
	right: 0.7em;
	text-shadow: 0 0 20px var(--white-color);
	transition: opacity 0.6s ease-in-out;

	display: block;
}

.footer__a--start:hover {
	opacity: 0.3;
}

.footer__figure {
	max-width: 15em;
	width: 100%;

	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: center;
}

.footer__img {
	border-radius: 0.5em;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.footer__figcaption {
}

.footer__a {
}

.footer__a--wsp {
	cursor: pointer;
	font-size: var(--font-size-xl);
	transition: color 0.6s ease-in-out;
}

.footer__a--wsp:hover {
	color: var(--blue-color);
}

.footer__i--instagram,
.footer__i--github {
	color: var(--gray-color);
	font-size: var(--font-size-xxxl);
	text-shadow: 2px 2px 0px var(--blue-light-color);
	transition: color 0.6s ease-in-out, text-shadow 0.6s ease-in-out;
}

.footer__i--instagram:hover,
.footer__i--github:hover {
	color: var(--white-color);
	text-shadow: none;
}

.footer__div {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: center;
}

.footer__span {
	font-size: var(--font-size-md); /* Ajustado de 1rem a 0.9rem */
	letter-spacing: 1px;
}

.footer__h1 {
	font-size: var(--font-size-lg);
}

@media (min-width: 576px) {
	.container {
	}

	.header {
		min-height: 6em;
	}

	.header__h2 {
	}

	.header__a {
		border-bottom: solid 2px var(--black-color);
		font-size: var(--font-size-lg);
	}

	.header__a:first-child {
		border-bottom: solid 2px var(--black-color);
		min-height: 0;
	}

	.header__a:hover {
		border-bottom: solid 2px var(--blue-color);
	}

	.header__menu {
		display: none;
	}

	.header__i {
	}

	.header__nav {
		background-color: transparent;
		min-height: 0;
		position: static;
		width: auto;

		display: flex;
		flex-direction: row;
		gap: 2em;
	}

	.main {
	}

	.works {
		min-height: 170em;
	}

	.works__article {
	}

	.works__header {
	}

	.works__h3 {
		font-size: var(--font-size-lg);
	}

	.works__p {
		font-size: var(--font-size-md);
		width: 100%;
	}

	.works__figure {
		height: 28em;
		width: 30em;
	}

	.works__img {
	}

	.works__figcaption {
	}

	.works__a {
	}

	.footer {
	}

	.about {
		min-height: 110em;
	}

	.about__article {
		max-width: 30em;
	}

	.about__header {
	}

	.about__h2 {
		font-size: 1.7rem;
		text-align: left;
	}

	.about__p {
		font-size: 1.5rem;
		line-height: 2;
		text-align: left;
	}

	.about__h3 {
		font-size: 1.7rem;
		text-align: right;
	}

	.about__footer {
	}

	.tech {
	}

	.tech__article {
	}

	.tech__ul--img {
	}

	.tech__li--img {
	}

	.tech__img {
	}

	.tech__ul--creator {
	}

	.tech__li--creator {
	}

	.footer__nav {
	}

	.footer__a {
		font-size: 5rem;
	}

	.footer__i--instagram {
	}

	.footer__i--github {
	}

	.footer__div {
	}

	.footer__span {
		font-size: 1.3rem;
	}
}

@media (min-width: 768px) {
	.container {
	}

	.header {
	}

	.header__h2 {
	}

	.header__a {
	}

	.header__menu {
	}

	.header__i {
	}

	.header__nav {
	}

	.header__a {
	}

	.main {
	}

	.works {
		min-height: 125em;
	}

	.works__article {
	}

	.works__header {
		min-height: 9em;
	}

	.works__h3 {
	}

	.works__p {
		max-width: 100%;
	}

	.works__figure {
		height: 20em;
		width: 29em;
	}

	.works__img {
	}

	.works__figcaption {
	}

	.works__a {
	}

	.about {
		min-height: 105em;
	}

	.about__article {
		max-width: 35em;
	}

	.about__header {
	}

	.about__h2 {
	}

	.about__h3 {
	}

	.about__p {
	}

	.about__footer {
	}

	.footer {
		min-height: 45em;
	}

	.footer__nav {
	}

	.footer__a {
	}

	.footer__div {
		flex-direction: column;
	}

	.footer__span {
		font-size: var(--font-size-lg);
	}

	.footer__i--instagram {
	}

	.footer__i--github {
	}
}

@media (min-width: 992px) {
	.container {
	}

	.header {
	}

	.header__h2 {
	}

	.header__a {
	}

	.header__menu {
	}

	.header__i {
	}

	.header__nav {
	}

	.header__a {
	}

	.main {
	}

	.works {
		min-height: 160em;

		align-items: center;
		justify-content: space-around;
	}

	.works__article {
		justify-content: space-around;
	}

	.works__header {
		min-height: 9em;
	}

	.works__h3 {
		max-width: 100%;
	}

	.works__p {
	}

	.works__figure {
		min-height: 30em;
		width: 50%;
	}

	.works__img {
	}

	.works__figcaption {
	}

	.works__a {
	}

	.about {
	}

	.about__article {
	}

	.about__header {
	}

	.about__h2 {
	}

	.about__h3 {
	}

	.about__p {
	}

	.about__footer {
	}

	.footer {
	}

	.footer__nav {
	}

	.footer__a {
	}

	.footer__div {
	}

	.footer__span {
	}

	.footer__i--instagram {
	}

	.footer__i--github {
	}
}

@media (min-width: 1200px) {
	.container {
	}

	.header {
	}

	.header__h2 {
	}

	.header__a {
	}

	.header__menu {
	}

	.header__i {
	}

	.header__nav {
	}

	.header__a {
	}

	.main {
	}

	.works {
		min-height: 90em;
	}

	.works__article {
		max-width: 90%;
		width: 100%;

		flex-direction: row;
		gap: 3em;
	}

	.works__header {
		flex-direction: column;
	}

	.works__h3 {
		font-size: var(--font-size-lg);
	}

	.works__p {
		font-size: var(--font-size-md);
	}

	.works__figure {
		min-height: 24em;
		width: 70%;
	}

	.works__img {
	}

	.works__figcaption {
	}

	.works__a {
	}

	.about {
		min-height: 75em;
	}

	.about__article {
		max-width: 55em;
	}

	.about__header {
	}

	.about__h2 {
	}

	.about__h3 {
	}

	.about__p {
	}

	.about__footer {
	}

	.footer {
	}

	.footer__nav {
	}

	.footer__a {
	}

	.footer__div {
	}

	.footer__span {
	}

	.footer__i--instagram {
	}

	.footer__i--github {
	}
}

@media (min-width: 1400px) {
	.container {
	}

	.header {
	}

	.header__h2 {
	}

	.header__a {
	}

	.header__menu {
	}

	.header__i {
	}

	.header__nav {
	}

	.header__a {
	}

	.main {
	}

	.works {
		min-height: 100em;
	}

	.works__article {
		max-width: 70%;
		min-height: 30em;
		width: 100%;

		flex-direction: row;
		gap: 12em;
	}

	.works__header {
		flex-direction: column;
	}

	.works__h3 {
	}

	.works__p {
	}

	.works__figure {
		min-height: 24em;
		max-width: 40%;
	}

	.works__img {
	}

	.works__figcaption {
	}

	.works__a {
	}

	.about {
		min-height: 70em;
	}

	.about__article {
		max-width: 55em;
		min-height: 70em;
	}

	.about__header {
	}

	.about__h2 {
	}

	.about__h3 {
	}

	.about__p {
	}

	.about__footer {
	}

	.footer {
	}

	.footer__nav {
	}

	.footer__a {
	}

	.footer__div {
	}

	.footer__span {
	}

	.footer__i--instagram {
	}

	.footer__i--github {
	}
}
